@import '~styles/vars.scss';

body {
  background: url('https://cdn.pixabay.com/photo/2021/09/16/11/44/bank-6629880_1280.jpg') left/cover no-repeat;
}

.mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba($color: #fff, $alpha: 0.5);
  backdrop-filter: blur(10px);
}

.wrapper {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  margin: 60px auto;
  padding: 0;
  box-sizing: border-box;
  // background: #fdfdfd;
}