@import '~styles/vars.scss';

.wrapper {
  padding: 0 10px;

  .container {
    max-width: 650px;
    padding-top: 80px;
    margin: 0px auto;

    .bar {
      max-width: 470px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

      .barItem {
        height: 32px;
        padding: 0 8px;
        border-bottom: 2px solid transparent;
        transition: all .2s ease-in;
        color: #393E46;
        cursor: pointer;

        &:hover {
          color: var(--color-secondary);
          opacity: 1;
          border-color: var(--color-secondary);
        }
      }

      .active {
        color: var(--color-secondary);
        opacity: 1;
        border-color: var(--color-secondary);
      }
    }

    .searchForm {
      position: relative;
      margin: 60px auto;
      max-width: 520px;

      .searchInput {
        padding-left: 12px;
        width: 100%;
        height:56px;
        background: rgba($color: #fff, $alpha: 0.2);
        backdrop-filter: blur(50px);
        border: 1px solid rgba($color: #fff, $alpha: 0.8);
        box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        color: #fff;
      }

      .searchBtn {
        position: absolute;
        right:7px;
        top: 50%;
        transform: translateY(-50%);
        max-width: 130px;
        width: 26%;
        height: 42px;
        color: #fff;
        background: rgba($color: #14274E, $alpha: 0.8);
        box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        cursor: pointer;
        border-radius: 4px;
      }
    }
  }

}