.wrapper {
  padding: 0 0 40px 0;

  .container {
    width: 80%;
    margin: 0 auto;

    .row {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .rowItem {
        width: 12.5%;
        box-sizing: border-box;
        color: var(--color-tertiary);
        text-align: center;
        border: 1px solid transparent;
        transition: background-color .1s ease-in;
        border-radius: 2px;

        a {
          display: inline-block;
          width: 100%;
          height: 40px;
          line-height: 40px;
          box-sizing: border-box;
          text-decoration: none;
          color:inherit
        }

        &:hover {
          cursor: pointer;
          color: #ffffff;
          border: 1px solid rgba(255, 255, 255, 0.4);
          background-color: rgba(255, 255, 255, 0.1);
          backdrop-filter: blur(5px);
        }

        &:first-child {
          flex-shrink: 0;
          color: var(--color-secondary);
          
        }

        &:first-child:hover {
          cursor: auto;
          border: none;
          background-color: transparent;
          backdrop-filter: none;
        }
      }
    }
  }
}